body{
	margin : 0;
}
*{
	font-family: cursive;
	}

button:hover{
    box-shadow: inset 0px 0px 5px 1px #ffebcd9c;
    transition: all 0.1s ease-in-out;
}
button:active{
	text-shadow: 0px 0px 10px blanchedalmond;
	border: none;
}

button:focus{
	  outline: none;
}

#map {
  height: calc(100% - 50px);
  flex-basis: 69.5%;
	margin-left: 0.5%;
}
.expand{
	flex-basis: 99% !important;
}

#mainContainer{
	display: flex;
	position: absolute;
	width: 100%;
	flex-flow: row wrap;
	background: #3c1304;
	height: 100%;
	align-content: flex-start;
}


#toolbar{
	/*float: left;*/
	flex-basis: 69.5%;
	margin-left: 0.5%;
	height: 50px;
	background-color: #3c1304;
}

#toolbar button{
	width: 100px;
	height: 45px;
	margin: 2.5px 0.5% 0 0;
	border-radius: 2px;
	border-color: blanchedalmond;
	font-family: cursive;
	border-width: 1px;
  padding: 0;
  background: #3c1304;
  color: blanchedalmond;
  transition: all 0.1s ease-in-out;
}
#toolbar > button:hover{

}
#toolbar > button:focus{
}
#toolbar > button:active{

}

#toolbar .tooltiptext {
    visibility: hidden;
    background-color: #3c1304a3;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 51px;
    left: 0;
    z-index: 2;
    text-shadow: none;
}

#toolbar button:hover .tooltiptext {
    visibility: visible;
}

#minimize{
	  position: absolute;
    transform: translate(0,-100%);
    color: whitesmoke;
    background: #3c1304;
    width: 21px;
    height: 21px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #f5f5f517;
    cursor: pointer;
}
#minimize:hover{
	transition: all 0.1s ease-in-out;
	border: 1px solid #f5f5f55c;
}
#maximize{
	position: absolute;
	right: 0;
  transform: translate(0,-100%);
  color: whitesmoke;
  background: #3c1304;
  width: 21px;
  height: 21px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #f5f5f517;
  cursor: pointer;
  visibility: hidden;
}
#maximize:hover{
	transition: all 0.1s ease-in-out;
	border: 1px solid #f5f5f55c;
}
#listOfResults{
	flex-basis: 29%;
	background-color: #f5f5f517;
	margin-left: 0.5%;
	transition: all 0.2s ease-in-out;
}
#listOfResults.resultsMin{
	flex-basis: 0;
}
#listOfResults.resultsMin > #minimize{
	display: none;
}
#listOfResults.resultsMin > #maximize{
	visibility: visible;
	margin-right: 0.5%;
}

#contact{
	visibility: hidden;
}

.resultsContainer{
	    height: 100%;
    position: relative;
}

.resultsContainer li{
	margin-bottom: 5px;
	border-color: whitesmoke;
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;
	padding: 4%;
	transition: all 0.1s ease-in-out;
}
.resultsContainer  li:hover{
	background: #3c1304;
	text-shadow: 0px 0px 100px whitesmoke;
	transition: all 0.1s ease-in-out;
}
.resultsContainer > ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	height: 100%;
	width: 100%;
	font-family: cursive;
	position: absolute;
	color: whitesmoke;
}

.resultsContainer img{
	float: left;
	width: 32px;
	height: 32px;
}

.resultsContainer p{
	font-size: 10pt;
	margin: 0;
	margin-left: 50px;
	margin-bottom: 20px;
}

.buttonPan{
	width: 22%;
	height: 22px;
  outline: none;
  border-radius: 2px;
	border: 1px solid blanchedalmond;
	background: #3c1304;
  color: blanchedalmond;
  margin: 0 4% 0 0;
  font-size: 10px;
  transition: all 0.1s ease-in-out;
}
button.buttonPan:hover{
}
button.buttonPan:active{

}

.buttonMark{
	width: 22%;
	height: 22px;
	outline: none;
	border-radius: 2px;
	border: 1px solid blanchedalmond;
	background: #3c1304;
  color: blanchedalmond;
  margin: 0 4% 0 0;
  font-size: 10px;
  transition: all 0.1s ease-in-out;
}
button.buttonMark:hover{
}
button.buttonMark:active{

}
.buttonMarkOn{
	color : red;
	border-color: red;
}


.buttonMap{
	width: 22%;
	height: 22px;
	outline: none;
	border-radius: 2px;
	border: 1px solid blanchedalmond;
	background: #3c1304;
  color: blanchedalmond;
  font-size: 10px;
  transition: all 0.1s ease-in-out;
}
button.buttonMap:hover{
}
button.buttonMap:active{
}

.card {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
   	font-family: cursive;

}

.card-content {
    background-color: whitesmoke;
    margin: 15% auto; /* 15% from the top and centered */
    width: 300px; 
    height: 200px;
    border-radius: 10px;
}

/* The Close Button */
.close {
	width: 30px;
	height: 30px;
	color: gray;
	display: inline-block;
	text-align: center;
	line-height: 100%;
	position: relative;
	padding-top: 4px;
	float: right;
	font-size: 20px;
}

.card-info{
	padding-top : 50px;
	padding-left: 20px;
	color: gray;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    width: 270px;
    height: 100px;
    border-width: 2px;
    padding-top: 10px;
	padding-left: 20px;
	font-weight: bold;
	margin-left: 5px;

}
.card-info:hover,
.card-info:focus {
    color: black;
    text-decoration: none;
 }
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

#instructions {
	width: 20%;
}

#instructions .tooltiptext {
    visibility: hidden;
    background-color: #3c1304a3;
    color: whitesmoke;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    position: fixed;
    bottom: 8px;
    z-index: 2;
    left: 35%;
    transform: translate(-50%);
}

#options{
	display: none;

}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f5f5f524; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: blanchedalmond;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}