body{
	background: moccasin;
}

#map {
    height: 600px;
    width: 60%;
    margin: auto;
    /*float: left;
    display: inline-block;*/
}

#toolbar{
	/*float: left;*/
	width: 60%;
	height: 25px;
	background-color: grey;
	margin: auto;
}

#toolbar button{
	width: 100px;
	height: 22px;
	border-radius: 10px;
	background: whitesmoke;
	border-color: black;
	font-family: cursive;
	border-width: 1px;

}

#mainContainer{
}


#listOfResults{
	position: fixed;
	top: 8px;
	right: 2px;
	width: 20%;
	background-color: whitesmoke;

}

#contact{
	float:right;
}

.resultsContainer{
}

.resultsContainer li{
	margin-bottom: 5px;
	border-color: lightsalmon;
	border-width: 2px;
	border-style: solid;
	padding: 15px;
}
.resultsContainer ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	height: 600px;
	width: 100%;
	font-family: cursive;
}

.resultsContainer img{
	float: left;
	width: 32px;
	height: 32px;
}

.resultsContainer p{
	font-size: 10pt;
	margin: 0;
	margin-left: 50px;
	margin-bottom: 20px;
}

.buttonPan{
	width: 16px;
	height: 16px;
   	outline: none;
	background-image: url("../imgs/pan.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.buttonMark{
	width: 16px;
	height: 16px;
	float: right;
	outline: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.buttonMap{
	width: 16px;
	height: 16px;
	float: right;
	outline: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../imgs/externallink.png");
}

.buttonMarkOff{
	background-image: url("../imgs/marker.png");

}

.buttonMarkOn{
	background-image: url("../imgs/markerOn.png");
}

.card {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
   	font-family: cursive;

}

.card-content {
    background-color: whitesmoke;
    margin: 15% auto; /* 15% from the top and centered */
    width: 300px; 
    height: 200px;
    border-radius: 10px;
}

/* The Close Button */
.close {
	width: 30px;
	height: 30px;
	color: gray;
	display: inline-block;
	text-align: center;
	line-height: 100%;
	position: relative;
	padding-top: 4px;
	float: right;
	font-size: 20px;
}

.card-info{
	padding-top : 50px;
	padding-left: 20px;
	color: gray;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    width: 270px;
    height: 100px;
    border-width: 2px;
    padding-top: 10px;
	padding-left: 20px;
	font-weight: bold;
	margin-left: 5px;

}
.card-info:hover,
.card-info:focus {
    color: black;
    text-decoration: none;
 }
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

#toolbar .tooltiptext {
    visibility: hidden;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 2;
}

#toolbar button:hover .tooltiptext {
    visibility: visible;
}

#instructions {
	margin: auto;
	width: 20%;
}

#instructions .tooltiptext {
    visibility: hidden;
    background-color: grey;
    color: whitesmoke;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    position: fixed;
    bottom: 8px;
    z-index: 2;
}